<div class="headerContainer">
    <img *ngIf="!bluePic" routerLink="/" src="../../assets/img/signature3.png" alt="">
    <img *ngIf="bluePic" routerLink="/" src="../../assets/img/signature-bentron_blue.png" alt="">
    <div class="rightMenu">
    <li class="burgerMenu" (click)="toggleMenu()">
        <i class="material-icons"> {{isMenuOpen ? "close" : "menu"}}</i>
    </li>
   
    <li class="menu" [class.is-open]="isMenuOpen">
        <a class="menu-item" href="#aboutMe" (click)="closeMenu()">{{"Über mich" | translate }}</a>
       <a class="menu-item" href="#skills" (click)="closeMenu()">{{"Kompetenzen" | translate}}</a>
        <a class="menu-item" href="#myWork" (click)="closeMenu()">{{"Meine Arbeiten" | translate }}</a>
    </li>
    <li class="language">
        <a (click)="translate.use('de')">DE</a><span>|</span>
        <a (click)="translate.use('en')">EN</a>
    </li>
</div>
</div>
