.headerContainer {
    background-color: #141D2F;
    height: 100px;
    display: flex;
width: 100%;
padding: 37px 100px;
justify-content: space-between;
align-items: center;

img {
    height: 50px;
}

a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    margin-right: 20px;
}
}