.contentContainer {
    display: flex;
    justify-content: space-between;
    background: radial-gradient(338.54% 243.13% at 28.82% -124.40%, #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%);
    color: white;
    padding: 80px 100px 30px 100px;
.contactButtons {
    display: flex;
    gap: 30px;
}
.footer_mid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    a {
        font-size: 0.7em;
        color: white;
        text-decoration: none;

    }

    span {
        margin-bottom: 50px;
    }
}
   
}
    