<div class="contentContainer">
    <div>
        <img src="../../assets/img/signature3.png" alt="">
    </div >
    <div class="footer_mid"><span>&copy; Julia Georgiew 2023</span> 
    <span><a routerLink="/impressum">Impressum</a></span> </div>
    <div class="contactButtons">
        <a href=""><img src="../../assets/img/github-i.svg" alt=""></a>
        <a href=""><img src="../../assets/img/email-i.svg" alt=""></a>
        <a href=""><img src="../../assets/img/linkedin-i.svg" alt=""></a>
     </div>
</div>
