.contentContainer {
    // display: flex;
    // margin: 150px 100px 150px 100px;
    justify-content: space-between;
    position: relative;
}

.flyingRight {
    // width: 50%;
font-size: 18px;
margin-left: 10px;
display: flex;
align-items: center;
flex-direction: column;


}

.flyingLeft {
    margin-right: 10px,
}


.ball6 {
    position: absolute;
    top: 50px;
    right: 100px;
}


@media (max-width: 1300px){
    .contentContainer {
        flex-direction: column;
        align-items: center;
    }
}

@media ( max-width: 700px){
    .ball6 {
       
        right: 30px;
    }
h2 {
    font-size: 40px;
    line-height: 40px;
    margin: 20px 0 50px 0;
}

    .flyingLeft {
        margin-top: 50px;
       
    }

    .flyingRight {
        // width: 50%;
    font-size: 18px;
    // margin-left: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    
    
    }
}

@media (max-width: 500px){

    .ball6 {
        img { width: 35px;
            height: 35px;}
      
        
    }
    .contentContainer {
        padding:  50px 20px 50px 20px;
     }

     
}

