.contentContainer {
    // display: flex;
    // margin: 150px 100px 150px 100px;
    justify-content: space-between;
}

.flyingRight {
    // width: 50%;
font-size: 18px;
margin-left: 10px;
display: flex;
align-items: center;
flex-direction: column;


}

.flyingLeft {
    margin-right: 10px,
}


@media (max-width: 1300px){
    .contentContainer {
        flex-direction: column;
        align-items: center;
    }
}

@media ( max-width: 700px){
h2 {
    font-size: 40px;
    line-height: 40px;
    margin: 20px 0 50px 0;
}

    .flyingLeft {
        margin-top: 50px;
       
    }

    .flyingRight {
        // width: 50%;
    font-size: 18px;
    // margin-left: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    
    
    }
}
