.contentContainer {
    justify-content: space-between;
    position: relative;
}

.ellipse5 {
    position: absolute;
    top: -100px;
    left: 45%;
    width: 206px;
    height: 206px;
    flex-shrink: 0;
    border-radius: 206px;
    background: radial-gradient(91.12% 91.12% at 19.79% 22.42%, #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%);
}

.flyingRight {
    width: 50%;
    font-size: 18px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.flyingLeft {
    margin-right: 10px;
    width: 50%;
}

.ball6 {
    position: absolute;
    top: 50px;
    right: 140px;
}

@media (max-width: 1300px) {
    .flyingLeft {
        width: 100%;
    }

    .flyingRight {
        width: 100%;
    }

    .ball6 {
        top: 30px;

        img {
            width: 50px;
        }
    }

    .contentContainer {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 700px) {
    .ellipse5 {
        position: absolute;
        top: -60px;
        left: 55%;
        width: 120px;
        height: 120px;
        flex-shrink: 0;
        border-radius: 120px;
        background: radial-gradient(91.12% 91.12% at 19.79% 22.42%, #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%);
    }

    .ball6 {
        right: 30px;
    }

    h2 {
        font-size: 40px;
        line-height: 40px;
        margin: 20px 0 50px 0;
    }

    .flyingLeft {
        margin-top: 50px;
    }

    .flyingRight {
        width: 100%;
        font-size: 18px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

@media (max-width: 500px) {

    .ball6 {
        img {
            width: 35px;
            height: 35px;
        }
    }

    .contentContainer {
        padding: 50px 20px 50px 20px;
    }
}