.contentContainer {
    display: flex;
    // margin: 150px 100px 150px 100px;
    justify-content: space-between;
}

.flyingRight {
    width: 50%;
font-size: 18px;
margin-left: 10px;
display: flex;
align-items: center;
flex-direction: column;


}

.flyingLeft {
    margin-right: 10px,
}

