.bgContainer {
    display: flex;
  
    background: linear-gradient(180deg, #FFF 0%, #EAF0FF 100%);
    height: 90vh;
    color: #5988FF;
    padding: 0 100px;
   margin-top: 10vh;
   overflow: hidden;
  
   }
   
// .ellipseWrapper {
//     // position: relative;
// }
.startLeft {
    // display: flex;
    position: relative;
    width: 50vw;
    align-items: flex-end;
}

.startRight {
    position: relative;
    width: 50vw;
  margin-top: 15vh;
  padding-left: 7vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.ellipse3 {
    position: absolute;
    // left: -25%;
    left: -150px;
    top: -20%;
    height: 800px;
    width: 800px;
    border-radius: 100%;
    background: radial-gradient(91.12% 91.12% at 19.79% 22.42%, #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%);

}

.ellipse5 {
    position: absolute;
    bottom: -100px;
    left: 45%;
    width: 206px;
    height: 206px;
    flex-shrink: 0;
    border-radius: 206px;
    background: radial-gradient(91.12% 91.12% at 19.79% 22.42%, #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%);
}

.passion {
    font-family: 'Baloo 2', 'sans-serif';
    color: #5988FF;
    font-size: 128px;
}


.head1 {
   
    font-size: 2.5em;
}

.head2 {
    font-family: 'Baloo 2';
    font-size: 5em;
    line-height: 0.8em;
    font-weight: 700;
  
}

.head3 {
    font-family: 'Baloo 2';
   font-size: 5em;
    font-weight: 700;
    line-height: 0.8em;
    
}


.portraitPic {
    height: 100%;
    
   }


.lineDown {
    width: 2px;
    background-color: #5988FF;
    height: 35vh;

}

.scroll {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    bottom: 0;
    right: 40%;

    .scrollText {
        padding: 5px;
    }

}
.contactButtons {
    position: absolute;
    bottom: 50px;
    right: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

@media (max-width: 1600px){
    
    .ellipse3 {
        position: absolute;
        left: -150px;
        top: -20%;
        height: 800px;
        width: 800px;
        border-radius: 100%;
    }


   
}


@media (max-width: 1300px){
    .head1 {
   
        font-size: 2.0em;
    }
    
    .head2 {
        font-family: 'Baloo 2';
        font-size: 4em;
        line-height: 0.8em;
        font-weight: 700;
      
    }
    
    .head3 {
        font-family: 'Baloo 2';
       font-size: 4em;
        font-weight: 700;
        line-height: 0.8em;
        
    }


    .bgContainer {
        padding: 0 50px;
    }
    
      .ellipse3 {
        position: absolute;
        left: -150px;
        top: -10%;
        height: 650px;
        width: 650px;
        border-radius: 100%;
    }

    
}


// @media (max-width: 1150px) and (min-height: 1000px){
   
   
//     .bgContainer {
//         padding: 0 5px;
//     }
// }


// @media (max-width: 1150px) and (max-height: 600px) {
// .startLeft {
//     padding: 0 0 0 0;
// }
   
//     .ellipse3 {
//         position: absolute;
//         left: -100px;
//         top: -10%;
//         height: 600px;
//         width: 600px;
//         border-radius: 100%;
//     }
//     .portraitPic {
//         // width: 250px;
        
//     }

//     .scroll {
//         display: none;
//     }

    

// }


// @media (min-width: 750px) and (max-width: 1000px) {

//     // .startRight {
//     //     margin-top: 150px;
//     // }

//     .head2 {
//         font-size: 3.2em;
//         height:50px;
//     }
//     .head3 {
//         font-size: 3.2em;

//     }

// .bgContainer {
//     padding: 0 0 0 0;
// }
   
//     .ellipse3 {
//         position: absolute;
//         left: -150px;
//         top: -10%;
//         height: 600px;
//         width: 600px;
//         border-radius: 100%;
//     }

//     .portraitPic {
//         // width: 550px;
       
//     }
   

// }

// @media (max-height: 740px) and (max-width: 420px){
//     .head1 {
//         // margin-top: 0;
//     }
// }
@media (max-width: 1200px) and (min-height: 1100px){
    .scroll {
        right: 3%;
    }

    .startRight {
        padding-left: 80px;
    }
}

@media (max-width: 950px) {
    .head1 {
       font-size: 1.5em;
    }
    
    .head2 {
        font-family: 'Baloo 2';
        font-size: 3em;
        line-height: 0.8em;
        font-weight: 700;
      
    }
    
    .head3 {
        font-family: 'Baloo 2';
       font-size: 3em;
        font-weight: 700;
        line-height: 0.8em;
        
    }

    .scroll {
        right:10%;
    }
.startRight {
    padding-left: 50px; 
}
   

}


@media (max-width: 800px){

    .bgContainer {
       justify-content: space-between;
      flex-direction: column-reverse;
        background: linear-gradient(180deg, #FFF 0%, #EAF0FF 100%);
        // height: 90vh;
        color: #5988FF;
        padding: 0 ;
        margin-top: 10vh;
        
       
    
    
    
    }
    
    .startLeft {  // IMG
        justify-content: center;
        position: relative;
         width: 100vw;
         height: 70vh;
        //  background-color: #5988FF;
     
       
    
    }
    
    .startRight { //TXT
        justify-content: center;
        margin-top: 0;
        width: 100vw;
        height: 20vh;
        padding-left: 30px;
        color: white;
          
    
    }
    
    .ellipse3 {
        position: absolute;
        
        left: -170px;
        top: 0;
        height: 700px;
        width: 700px;
        border-radius: 100%;
        // background: radial-gradient(91.12% 91.12% at 19.79% 22.42%, #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%);
    
    }
       
    .passion {
        font-family: 'Baloo 2', 'sans-serif';
        color: #5988FF;
        font-size: 128px;
    }
    
    
    .head1 {
              
        font-size: 1.7em;
                font-weight: 300;
    }
    
    .head2 {
        line-height: 0.8em;
        font-size: 3.4em;
        
    }
    .head3 {
        line-height: 0.8em;
        font-size: 3.2em;
     

    }
   
    
    
    
    .lineDown {
        width: 2px;
        background-color: #5988FF;
        height: 35vh;
    
    }
    
    .scroll {
        display: none;
    
    }
    .contactButtons {
       display: none;
    
    }

}



@media (max-width: 600px){
 
   
    
    .ellipse3 {
        // position: absolute;
        
        left: -170px;
        top: 0;
        height: 530px;
        width: 510px;
        border-radius: 100%;
        // background: radial-gradient(91.12% 91.12% at 19.79% 22.42%, #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%);
    
    }
    
    .ellipse5 {
        position: absolute;
        bottom: -180px;
        left: 37%;
        width: 120px;
        height: 120px;
        flex-shrink: 0;
        border-radius: 206px;
        background: radial-gradient(91.12% 91.12% at 19.79% 22.42%, #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%);
    }
    
    .passion {
        font-family: 'Baloo 2', 'sans-serif';
        color: #5988FF;
        font-size: 128px;
    }
    
    
     
       
    
    .lineDown {
        width: 2px;
        background-color: #5988FF;
        height: 35vh;
    
    }
    
    .scroll {
        display: none;
    
    }
    .contactButtons {
       display: none;
    
    }

}

@media screen and (max-height: 550px){
    .scroll {
        display: none;
    }

    .ellipse3 {
        top: -50px;
        left: -50px;
        width:400px;
        height:350px;
        border-radius: 100%;
    }
}


