<div class="bgContainer">
  <div class="ellipseWrapper">
    <div class="ellipse3"></div>
  </div>
  <div class="contactButtons">
    <a href="https://github.com/sekibeli" target="_blank"
      ><img src="../../assets/img/github.png" alt=""/></a>
    <a href="mailto:info@julia-georgiew.de">
      <img src="../../assets/img/email.png" alt=""/></a>
    <a
      href="https://www.linkedin.com/in/julia-georgiew-ab2880282"
      target="_blank">
      <img src="../../assets/img/linkedin.png" alt=""/>
    </a>
  </div>
  <div class="startLeft">
    <img class="portraitPic" src="./../assets/img/portraitv5.png" alt="" />
  </div>
  <div class="startRight">
    <div data-aos="fade-in" class="head1">
      {{ "Hallo! Ich bin Julia" | translate }}
    </div>
    <div data-aos="fade-in" class="head2">FRONTEND</div>
    <div data-aos="fade-in" class="head3">DEVELOPER</div>
    <div data-aos="flip-up" class="scroll">
      <div class="scrollText">SCROLL</div>
      <div class="lineDown"></div>
    </div>
  </div>
</div>
