.bgContainer {
    display: flex;
    background: linear-gradient(180deg, #FFF 0%, #EAF0FF 100%);
    height: 100vh;
    color: #5988FF;
    padding: 0 100px;
   }

.startLeft {
    display: flex;
    position: relative;
    width: 50vw;
    align-items: flex-end;
}

.startRight {
    position: relative;
    width: 50vw;
    padding-top: 130px;

}

.ellipse3 {
    position: absolute;
    // left: -25%;
    left: -150px;
    top: -20%;
    height: 800px;
    width: 800px;
    border-radius: 100%;
    background: radial-gradient(91.12% 91.12% at 19.79% 22.42%, #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%);

}

.ellipse5 {
    position: absolute;
    bottom: -100px;
    left: 45%;
    width: 206px;
    height: 206px;
    flex-shrink: 0;
    border-radius: 206px;
    background: radial-gradient(91.12% 91.12% at 19.79% 22.42%, #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%);
}

.passion {
    font-family: 'Baloo 2', 'sans-serif';
    color: #5988FF;
    font-size: 128px;
}


.head1 {
    height: 36px;
    color: #5988FF;
    font-size: 3em;
    line-height: 100%;
    font-weight: 300;
}

.head2 {
    font-family: 'Baloo 2';
    font-size: 120px;
    font-weight: 700;
    height: 114px;
}

.head3 {
    font-family: 'Baloo 2';
    font-size: 110px;
    font-weight: 700;
    height: 110px;
}

.me1 {
    // position: absolute;
    // bottom: 0;
    // left: 90px;
    display: flex;

   

    .portraitPic {
        width: 600px;
        // margin: -5px;
    }
}



.lineDown {
    width: 2px;
    background-color: #5988FF;
    height: 35vh;

}

.scroll {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    bottom: 0;
    right: 50%;

    .scrollText {
        padding: 5px;
    }

}
.contactButtons {
    position: absolute;
    bottom: 50px;
    right: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

@media (max-width: 1600px){
    .head2 {
        font-size: 5.4em;
        height: 80px;
    }
    .head3 {
        font-size: 5.2em;
        height: 100px;

    }

  
    .ellipse3 {
        position: absolute;
        left: -150px;
        top: -20%;
        height: 800px;
        width: 800px;
        border-radius: 100%;
    }


    .me1 {
        // position: absolute;
        // bottom: 0;
        // left: 0px;
       
    
        .portraitPic {
            width: 600px;
           
        }
    }
}


@media (max-width: 1300px){

    .bgContainer {
        padding: 0 50px;
    }
    .startRight {
        // padding-left: 100px;
        // position: relative;
        // width: 50vw;
        // padding-top: 130px;
    
    }
    .head1 {
        font-size: 2em;
    }
    .head2 {
        font-size: 4.8em;
    }
    .head3 {
        font-size: 4.6em;

    }
    .ellipse3 {
        position: absolute;
        left: -150px;
        top: -10%;
        height: 650px;
        width: 650px;
        border-radius: 100%;
    }


    .me1 {
        // position: absolute;
        // bottom: 0;
        // left: 0px;
       
    
        .portraitPic {
            width: 580px;
            
        }
    }
}





@media (max-width: 1150px) {

    .head2 {
        font-size: 4.1em;
        height:60px;
    }
    .head3 {
        font-size: 3.9em;

    }
    .ellipse3 {
        position: absolute;
        left: -300;
        top: -10%;
        height: 600px;
        width: 600px;
        border-radius: 100%;
    }


    .me1 {
        // position: absolute;
        // display: flex;
        // bottom: 0;
        // left: -50px;
       
    
        .portraitPic {
            width: 550px;
            
        }
    }

}


@media (max-width: 1000px) {
.bgContainer {
    padding: 0 20px;
}
    .head2 {
        font-size: 3.9em;
        height:50px;
    }
    .head3 {
        font-size: 3.7em;

    }
    .ellipse3 {
        position: absolute;
        left: -300;
        top: -10%;
        height: 600px;
        width: 600px;
        border-radius: 100%;
    }


    .me1 {
        // position: absolute;
        // display: flex;
        // bottom: 0;
        // left: -50px;
       
    
        .portraitPic {
            width: 550px;
           
        }
    }

}
@media (max-width: 900px){

    .bgContainer {
        display: flex;
        flex-direction:column-reverse;
        background: linear-gradient(180deg, #FFF 0%, #EAF0FF 100%);
        height: 100vh;
        color: #5988FF;
        padding: 0 10px;
       
        margin-top: 100px;
    
    
    
    }
    
    .startLeft {
        justify-content: center;
        position: relative;
         width: 100vw;
         align-items: flex-start;
       
    
    }
    
    .startRight {
        position: relative;
        width: 100vw;
        padding-top: 0px;
    
    }
    
    .ellipse3 {
        // position: absolute;
        
        left: -300;
        top: 0;
        // height: 700px;
        // width: 700px;
        // border-radius: 100%;
        // background: radial-gradient(91.12% 91.12% at 19.79% 22.42%, #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%);
    
    }
    
    .ellipse5 {
        position: absolute;
        bottom: -100px;
        left: 45%;
        width: 206px;
        height: 206px;
        flex-shrink: 0;
        border-radius: 206px;
        background: radial-gradient(91.12% 91.12% at 19.79% 22.42%, #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%);
    }
    
    .passion {
        font-family: 'Baloo 2', 'sans-serif';
        color: #5988FF;
        font-size: 128px;
    }
    
    
    .head1 {
        height: 36px;
        color: #f5f5f5;
        font-size: 1.7em;
        line-height: 100%;
        font-weight: 300;
    }
    
    .head2 {
        color: #f5f5f5;
        font-size: 2.4em;
        height: 40px;
    }
    .head3 {
        color: #f5f5f5;
        font-size: 2.2em;
        height: 40px;

    }
    
    .me1 {
        // position: absolute;
        // bottom: -100px;
        // left: 140px;
       
    
        .portraitPic {
            width: 500px;
            // background-position: bottom;
            // margin: -5px;
        }
    }
    
    
    
    .lineDown {
        width: 2px;
        background-color: #5988FF;
        height: 35vh;
    
    }
    
    .scroll {
        display: none;
    
    }
    .contactButtons {
        position: absolute;
        bottom: 50px;
        right: 40px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    
    }

}