<div class="elli">
  <div class="ellipse3"></div>
</div>
<div class="bgContainer">
  <div class="contactButtons">
    <a href=""><img src="../../assets/img/github.png" alt="" /></a>
    <a href=""><img src="../../assets/img/email.png" alt="" /></a>
    <a href=""><img src="../../assets/img/linkedin.png" alt="" /></a>
  </div>
  <div class="startLeft">
    
    <!-- <div class="me1"> -->
      <img class="portraitPic" src="../../assets/img/portrait3.png" alt="" />
    <!-- </div> -->
  </div>
  <div class="startRight">
    <div data-aos="fade-in" class="head1">Hallo! Ich bin Julia</div>
    <div data-aos="fade-in" class="head2">FRONTEND</div>
    <div data-aos="fade-in" class="head3">ENTWICKLERIN</div>
    <div data-aos="flip-up" class="scroll">
      <div class="scrollText">SCROLL</div>
      <div class="lineDown"></div>
    </div>
   
  </div>
  <div class="ellipse5"></div>
</div>
