<div class="contentContainer" id="contact">
  <div data-aos="fade-right" class="flyingLeft">
    <h2>{{"Kontakt" | translate }}</h2>
  </div>
  <div class="content">
    <div class="goUp" routerLink="/" (click)="scrollToTop()"><img src="../../assets/img/go_up.svg" alt=""></div>
    <div data-aos="fade-right" class="flyingLeft">
      <div class="subsection">{{"Was gibt es zu erledigen?" | translate }}</div>
      <p>
        {{"Kontaktiere mich über das Kontaktformular, ich freue mich von Dir zu hören." | translate }}
      </p>
      <div class="blue space">
        {{"Du suchst einen Frontend Entwickler?" | translate }}
        <span class="important">{{"Melde Dich bei mir!" | translate }}</span>
      </div>
      
    </div>
    <div data-aos="zoom-in" class="flyingRight">
      <div class="inputFields">
        <form action="javascript:void(0)" [formGroup]="form" (submit)="send()">
          <div class="field">
            <div [ngClass]="{
            'valid': 
            form.controls['from_name'].valid &&
            form.controls['from_name'].touched, 
            'invalid':  
            form.controls['from_name'].invalid &&
            form.controls['from_name'].touched}"></div>
            <input 
              formControlName="from_name"
              class="input"
              type="text"
              name="name"
              placeholder="Name"
            
            />
            <div
              class="errorMessage"
              *ngIf="
                form.controls['from_name'].invalid &&
                form.controls['from_name'].touched
              "
            >
              {{"Bitte Namen eingeben." | translate }}
            </div>
          </div>

          <div class="field">
            <div [ngClass]="{
              'valid': 
              form.controls['from_email'].valid &&
              form.controls['from_email'].touched, 
              'invalid':  
              form.controls['from_email'].invalid &&
              form.controls['from_email'].touched}"></div>
          </div>
         
          <input
            formControlName="from_email"
            class="input"
            type="email"
            name="email"
            placeholder="E-mail"
          />

          <div
            *ngIf="
              form.controls['from_email'].invalid &&
              form.controls['from_email'].touched &&
              form.controls['from_email'].errors
            "
          >
            <div
              class="errorMessage"
              *ngIf="form.controls['from_email'].errors['required']"
            >
              {{"Bitte email eingeben." | translate }}
            </div>
            <div
              class="errorMessage"
              *ngIf="form.controls['from_email'].errors['email']"
            >
              {{"Ungültige email" | translate }}
            </div>
          </div>
          <div class="field">
            <div [ngClass]="{
              'valid': 
              form.controls['message'].valid &&
              form.controls['message'].touched, 
              'invalid':  
              form.controls['message'].invalid &&
              form.controls['message'].touched}"></div>
          </div>
          <textarea
            formControlName="message"
            class="inputArea"
            name="message"
            placeholder="Message"
            type="text"
          ></textarea>
          <div
            class="errorMessage"
            *ngIf="
              form.controls['message'].invalid &&
              form.controls['message'].touched
            "
          >
            {{"Bitte eine Nachricht eingeben." | translate }}
          </div>

          <button type="submit" [disabled]="!form.valid" class="button">
            {{"Sag Hallo" | translate }}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- <a target="_blank" href="https://icons8.com/icon/70yRC8npwT3d/ok">OK</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->
<!-- <a target="_blank" href="https://icons8.com/icon/HZhl4S0tHUuX/hohe-priorit%C3%A4t">Ausrufezeichen</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->