.contentContainer {
    position: relative;
    background: linear-gradient(180deg, #FFF 0%, #EAF0FF 100%);
    flex-direction: column;

}

.goUp {
    position: absolute;
    bottom: 50px;
    left: 100px;
    cursor: pointer;

    &:hover {
        filter: grayscale(100%);
    }
}
.subsection {
    font-family: 'baloo 2';
    color: var(--main-color);
    font-size: 1.5em;
}
.inputFields {
    display: flex;
flex-direction: column;
align-items: center;
// width: 100%

}

.input {
    border: 1px solid var(--main-color);
    outline: 1px solid transparent;
    background-color: white;
    width: 100%;
   margin-bottom: 30px;
    padding: 10px 10px;
    border-radius: 5px;
   font-family: 'Montserrat';
   cursor: pointer;
  transition: box-shadow 0.3 ease;

   &:hover {
   box-shadow: 0 0 0 1px var(--main-color);
   
    
   }
}

.flyingRight {
    justify-content: center;
    width: 50%;
}

.content {
    display: flex;
    gap: 30px;
    justify-content: space-between;

}

.inputArea {
    border: 1px solid var(--main-color);
    background-color: white;
    width: 100%;
   margin-bottom: 30px;
    padding: 10px 10px;
    border-radius: 5px;
    height: 200px;
}

textarea {
    font-family: 'Montserrat';
    cursor: pointer;
    
    &:hover {
        box-shadow: 0 0 0 1px var(--main-color);
    }     
}

form {
    width: 100%;
}
.errorMessage {
    color: red;
    font-size: 0.7em;
    margin-top: -30px;
    margin-bottom: 20px;
}
.field {
    position: relative;


}
.valid {
position: absolute;
top: 5px;
right: 5px;
background-image: url(../../assets/img/ok.svg);
background-size: contain;
width: 30px;
height: 30px;
}

.invalid {
    position: absolute;
top: 5px;
right: 5px;
background-size: contain;
background-image: url(../../assets/img/error.png);
width: 30px;
height: 30px;
}


@media (max-width: 700px){
    .content {
        flex-direction: column;
    }

    .flyingRight {
        // justify-content: center;
        width: 100%;
    }

    .goUp {
       
        bottom: 20px;
        left: 50px;
    }
}