<div class="contentContainer">
  <div class="flyingLeft">
    <h2>Kontakt</h2>
  </div>
  <div class="content">
    <div class="flyingLeft">
      <div class="subsection">Was gibt es zu erledigen?</div>
      <p>
        Kontaktiere mich über das Kontaktformular, ich freue mich von Dir zu
        hören.
      </p>
      <div class="blue space">Du suchst einen Frontend Entwickler? <span class="important">Melde Dich bei mir!</span></div>
    </div>
    <div class="flyingRight">
      <div class="inputFields" >
        
        
        
        <form action="javascript:void(0)" [formGroup]="form" (submit)="send()" >
          <div class="field">
            <input
            formControlName="from_name"
              class="input"
              type="text"
              name="name"
              placeholder="Name"
              
            />
          </div>

          <div class="field"></div>
          <input
          formControlName="from_email"
            class="input"
            type="email"
            name="email"
            placeholder="email"
           
          />

          <div class="field"></div>
          <textarea
          formControlName="message"
            class="inputArea"
            name="message"
            placeholder="Nachricht"
            type="text"
            
          ></textarea>

         
          <button type="submit" class="button">Sag Hallo</button>
        </form>
      </div>
    </div>
  </div>
</div>
