<div class="overflow">
<div data-aos="zoom-in" class="start" id="myWork">
         <div class="flyingLeft"><h2>Meine Arbeit</h2>
        <p>Hier findest Du einige meiner Arbeiten. Sie entstanden während meiner Ausbildung bei der Developer-Akademie. Viel Spaß beim Ausprobieren!</p></div>
    <div class="flyingRight">
        <div class="ellipse ellipse8"></div>
    </div>
 </div>
<div class="contentContainer" >
 
    <div *ngFor="let work of allWork; let i = index">
        <div class="workBox" [ngClass]="{'reverse': i%2 != 0}" class="workContainer">
            <div class="flyingLeft">
                <div data-aos="flip-up">
                <img src="../../assets/img/work/{{work.img}}.png" alt="">
                </div>
                <div class="ellipse ellipse{{i}}"></div>
                <div class="ellipse ellipse_{{i}}"></div>
            </div>
            <div class="flyingRight" [ngClass]="{'right': i%2 != 0}">
                <div data-aos="fade-up">
                    <h3>{{work.title}}</h3>
                    <div class="skill">{{work.dev}}</div>
                    <p>{{work.description}}</p>
                    <div>
                        <button class="button">Github</button>
                        <button class="button">Teste es</button>
                    </div>
                </div>
               
            </div>
        </div>

    </div>
   
</div>
</div>
