.contentContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items:center;
    padding-top: 100px;

   
  
.flyingRight {
    position:relativ;
    width: 50%;
font-size: 23px;
margin-left: 10px;
display: flex;
align-items: center;
flex-direction: column;
width: 100%;
justify-content: flex-end;

}
.flyingLeft {
    position: relative;
    margin-right: 10px;
    width: 100%;
 
}

.workContainer{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    

    .skill {
        font-size: 1em;
        color: var(--main-color);
    }
    p {
        margin-top: 10px;
        font-size: 0.7em;

    }
}

img {
    width: 100%;
    object-fit: cover;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}
.reverse {
    flex-direction: row-reverse;
}
.workBox {
    display: flex;
    width: 800px;
    gap: 20px;
}

}

.ellipse {
      background: radial-gradient(91.12% 91.12% at 19.79% 22.42%, #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%);
   
}

.ellipse8 {
    width: 182px;
    height: 182px;
    border-radius: 182px;
}

.ellipse1 {
    position: absolute;
   bottom: -100px;
    right: -220px;
    width: 393.32px;
height: 393.32px;
transform: rotate(81.573deg);
border-radius: 393px;
z-index: -50;
// flex-shrink: 0;
}

// .ellipse_1 {
//     position: absolute;
//     top: 0;
//     right: -120px;
//     width: 393.32px;
// height: 393.32px;
// transform: rotate(81.573deg);
// border-radius: 393px;
// z-index: -50;
// flex-shrink: 0;
// }

.ellipse0 {
    position: absolute;
    top: 100px;
    left: -100px;
    width: 250px;
height: 250px;
transform: rotate(81.573deg);
border-radius: 250px;
z-index: -50;
// flex-shrink: 0;
}

.ellipse_0 {
    position: absolute;
    top: -350px;
    right: -100px;
    width: 90px;
height: 90px;
transform: rotate(81.573deg);
border-radius: 90px;
z-index: -50;
// flex-shrink: 0;
}

.ellipse2 {
    position: absolute;
   bottom: -100px;
    left: 0px;
    width: 50px;
height: 50px;
transform: rotate(81.573deg);
border-radius: 50px;
flex-shrink: 0;
z-index: -50;
}
.ellipse_2 {
    position: absolute;
   top: -100px;
    left: 20px;
    width: 50px;
height: 50px;
transform: rotate(81.573deg);
border-radius: 50px;
flex-shrink: 0;
z-index: -50;
}
.start {
    padding: 100px 100px 0px 100px;
    display: flex;
    justify-content: center;
    .flyingRight {
        display: flex;
        justify-content:space-around;
    }
    
}