.contentContainer {
    position: relative;
    display: flex;
    flex-direction: column;
}

.impressum {
    position: relative;
}

.subsection {
    font-family: 'montserrat';
    color: var(--main-color);
    font-size: 1.5em;
}

.address {
    padding: 20px 0 20px 0;
}

.ball {
    position: absolute;
    top: 28vh;
    right: 20vw;
}

.abs {
    margin: 10px 0 10px 0;
    font-weight: bold;
    color: var(--main-color);
}

.picBack {
    transform: rotate(270deg);

    &:hover {
        filter: brightness(1.5);
    }
}

.contentContainer {
    margin-top: 10vh;
}

p {
    margin: 5px 0 5px 0;
    color: var(--main-color);
}

@media (max-width: 700px) {
    .contentContainer {
        padding: 50px 20px 50px 20px;
    }

    .ball {
        display: none;
    }
}