.contentContainer {
    background: linear-gradient(131deg, #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%);
    align-items: center;
    flex-direction: column;
    padding-top: 100px;

}

h2 {
    color: white;
    text-align: center;
}

.skillContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.skills {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
   
    .pics {
        margin: 30px 50px;
        width: 70px;
        height: 70px;
        transition: transform 2s;

        &:hover {
            transform: rotate(360deg);
        }
    }

    
}