:root {
    --main-color: #5988FF;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    
}
body {
 
    font-family: 'montserrat', sans-serif;
    background-color: white;
    overflow-x: hidden;
}
h1 {
    margin-top: 20px;
    font-family: 'montserrat';
    font-weight: 700;
    font-size: 3em;
    color:var(--main-color);
    line-height: 100px;
    margin-bottom: 70px;
    
}
h2 {
    margin-top: 20px;
    font-family: 'Baloo 2';
    font-weight: 700;
    font-size: 100px;
    color:var(--main-color);
    line-height: 100px;
    margin-bottom: 20px;
    
}

h3 {
    font-family: 'baloo 2';
    color: var(--main-color);
    font-size: 1.8em;
}

.contentContainer {
    display: flex;
    padding: 150px 100px 150px 100px;
    gap: 20px;
   
}



.button {
    margin-right: 10px;
    padding: 10px 20px;
    color: #5988FF;
    border:1px solid #5988FF;
    border-radius: 5px;
    background-color: white;
    margin-top: 20px;
    width: 200px;
    font-size: 0.8em;
    transition:  1s;

    &:hover {
        color: white;
        background-image: linear-gradient( 135deg, #5988FF 51.56%, #0043F0 100%);
        cursor: pointer;
        
      
    }
}

.important {
    font-weight: 600;
}

.blue {
    color: var(--main-color);
}

.space {
    margin-top: 50px;
}


@media (max-width: 1100px) {
    .contentContainer {
        padding: 100px 50px 100px 50px;
       
    }
}

@media (max-width: 900px){
    h2 {
        font-size: 80px;
        text-align: center;
    }
}

@media ( max-width: 700px){
    h2 {
        font-size: 40px;
        line-height: 40px;
        margin: 20px 0 50px 0;
    }
}